body {
    /* background-color: #f4f4f4; */
    background: #293c51;  /* fallback for old browsers */
    font-family: Arial, sans-serif;
}

.container {
     /* fallback for old browsers */
    background: #eeeff0;
    max-width: 800px;
    margin: 1rem auto;
}